<!-- Method - 1 -->
<!-- <div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="user-data" ngModelGroup="userData" #userData="ngModelGroup">
        <div class="mb-3">
          <div class="mt-3 mb-3" *ngIf="!userData.valid && userData.touched">Invalid User Data</div>
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" ngModel name="email" required email #email="ngModel">
          <div class="form-text" *ngIf="!email.valid && email.touched">Please enter valid input.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" ngModel name="password" required>
        </div>
        <div class="form-group">
          <label for="secret">Secret Optioon</label>
          <select id="select" class="form-control" [ngModel]="defaultOption" name="secret">
            <option value="pet">Your First Pet?</option>
            <option value="teacher">Your First Teacher?</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="questionAnswer" rows="3" [(ngModel)]="answer">
        </textarea>
          <p><i>Your Replay: {{ answer }}</i></p>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender" required>{{ gender }}
          </label>

        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </div>
    </form>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Email: {{ user.email }}</p>
      <p>Password: {{ user.password }}</p>
      <p>Secret Question: {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div> -->

<!-- Method - 2 -->

<!-- <div class="container">
  <div class="row">
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
      <div class="form-control">
        <label>Mail</label>
        <input type="email" id="email" ngModel name="email" required email class="form-control" #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="subscription">Choose a Subscription</label>
        <select name="subscription" id="subscription" [ngModel]="selectedSubscription" class="form-control">
          <option *ngFor="let subscription of subscriptions" [value]="subscription">{{ subscription }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel required class="form-control" #password="ngModel">
        <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
      </div>
      <button class="btn btn-primary mt-3" type="submit">Submit</button>
      <p *ngIf="!signupForm.valid && signupForm.touched">Form Invalid</p>
    </form>
  </div>
</div> -->

<!-- Method - 3 (Reactive Approch) -->

<!-- <div class="container">
  <div class="row">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control">
        <span class="help-block" *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">Please
          enter a valid data</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control">
      </div>
      <div class="radio" *ngFor="let gender of genders">
        <label>
          <input type="radio" [value]="gender" formControlName="gender"> {{ gender }}
        </label>
      </div>
      <div formArrayName="hobbies">
        <h4>Your Hobbies</h4>
        <button class="btn-btn-primary" type="button" (click)="onAddHobby()">Add Hobby</button>
      </div>
      <div class="form-group" *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
        <input type="text" class="form-control" [formControlName]="i">
      </div> 
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div> -->

<!-- Pipes -->

<div class="container">
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let server of servers" [ngClass]="getStatusClasses(server)">
        <span class="badge bg-secondary"> {{server.status}} </span>
        <strong>{{ server.name }}</strong> | {{ server.instanceType | uppercase }} | {{ server.started | date:"fullDate"
        }}
      </li>
    </ul>
  </div>
</div>